# Python Backend
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/
env.bak/
venv.bak/

# Environment variables
.env

# Pytest / Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
